<div class="producto-form">
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="producto.nombre" required>

      <label for="precio">Precio</label>
      <input type="number" id="precio" name="precio" [(ngModel)]="producto.precio_unitario" required>

      <label for="tipo">Tipo</label>
      <input type="text" id="tipo" name="tipo" [(ngModel)]="producto.tipo" required>

      <label for="cantidad">Cantidad</label>
      <input type="number" id="cantidad" name="cantidad" [(ngModel)]="producto.cantidad_disponible" required>

      <button class="btn-submit" type="submit">Enviar</button>
    </form>
  </div>
</div>
