<mat-sidenav-container class="app-container">
  <!-- Sidenav (Menú de navegación lateral) -->
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <!-- Enlaces de navegación -->
      <a mat-list-item routerLink="/productos" routerLinkActive="active-link" aria-label="Ir a Lista de Productos">Lista de Productos</a>
      <a mat-list-item routerLink="/productos/crear" routerLinkActive="active-link" aria-label="Crear Nuevo Producto">Nuevo Producto</a>
      <a mat-list-item routerLink="/cliente/crear" routerLinkActive="active-link" aria-label="Crear Nuevo Cliente">Nuevo Cliente</a>
      <a mat-list-item routerLink="/clientes" routerLinkActive="active-link" aria-label="Ver Lista de Clientes">Lista de Clientes</a>
      <a mat-list-item routerLink="/reserva" routerLinkActive="active-link" aria-label="Gestionar Reservas">Reservas</a>
      <a mat-list-item routerLink="/user" routerLinkActive="active-link" aria-label="Crear Nuevo Usuario">Crear Usuario</a>
      <a mat-list-item routerLink="/cancha" routerLinkActive="active-link" aria-label="Información de Canchas">Info Canchas</a>
      <a mat-list-item routerLink="/sucursales/list" routerLinkActive="active-link" aria-label="Ver Lista de Sucursales">Lista de Sucursales</a>
      <a mat-list-item routerLink="/sucursales/form" routerLinkActive="active-link" aria-label="Crear Sucursales">Crear Sucursales</a>
      <a mat-list-item routerLink="/stocks" routerLinkActive="active-link" aria-label="Ver Lista de Stocks">Lista de Stocks</a>
      <a mat-list-item routerLink="/stocks/new" routerLinkActive="active-link" aria-label="Crear Nuevo Stock">Nuevo Stock</a>
      <a mat-list-item routerLink="/stocks/muchos" routerLinkActive="active-link" aria-label="Agregar Varios Stocks">Agregar Varios Stock</a>
      <a mat-list-item routerLink="/ventas" routerLinkActive="active-link" aria-label="Gestionar Ventas">Ventas</a>
      <a mat-list-item routerLink="/ayuda" routerLinkActive="active-link" aria-label="Acceder a la Ayuda">Ayuda</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido Principal -->
  <mat-sidenav-content>
    <!-- Botón para abrir/cerrar el menú lateral -->
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Abrir menú lateral">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Contenido principal -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
