<div class="stock-list">
  <h2>Lista de Productos en Stock</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre Producto</th>
        <th>Sucursal</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td>{{ stock.producto.nombre }}</td> 
        <td>{{ stock.sucursal.nombre }}</td>  <!-- Nombre de la sucursal -->
        <td>{{ stock.cantidad }}</td>
        <td>{{ stock.precio }}</td>
      </tr>
    </tbody>
  </table>
</div>
