<h2 mat-dialog-title>{{ reserva.idReserva ? 'Editar Reserva' : 'Agregar Nueva Reserva' }}</h2>

<div mat-dialog-content>
  <form id="reservaForm">
    <!-- DatePicker para la fecha -->
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="reserva.fecha" name="fecha" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Hora de inicio</mat-label>
      <input matInput type="time" [(ngModel)]="horaInicio" required />
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Hora de fin</mat-label>
      <input matInput type="time" [(ngModel)]="horaFin" required />
    </mat-form-field>
    

    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
      <mat-label>Cliente</mat-label>
      <input matInput type="number" name="clienteId" [(ngModel)]="reserva.clienteId" required>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
      <mat-label>Cancha</mat-label>
      <input matInput type="number" name="canchaId" [(ngModel)]="reserva.canchaId" required>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
      <mat-label>Sucursal</mat-label>
      <input matInput type="number" name="sucursalId" [(ngModel)]="reserva.sucursalId" required>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions style="justify-content: flex-end; margin-top: 15px;">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button color="primary" (click)="saveReserva()">Guardar</button>
</div>