<h2 mat-dialog-title>
  {{ data.reserva.idReserva ? 'Editar Reserva' : 'Agregar Nueva Reserva' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="reservaForm">
    <!-- Fecha -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha" required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Hora de Inicio -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Hora de Inicio</mat-label>
      <input
        matInput
        [ngxMatTimepicker]="inicioPicker"
        formControlName="horaInicio"
        required
      />
      <ngx-mat-timepicker #inicioPicker></ngx-mat-timepicker>
    </mat-form-field>

    <!-- Hora de Fin -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Hora de Fin</mat-label>
      <input
        matInput
        [ngxMatTimepicker]="finPicker"
        formControlName="horaFin"
        required
      />
      <ngx-mat-timepicker #finPicker></ngx-mat-timepicker>
    </mat-form-field>

    <!-- Cliente -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cliente</mat-label>
      <input matInput type="number" formControlName="clienteId" required />
    </mat-form-field>

    <!-- Cancha -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cancha</mat-label>
      <input matInput type="number" formControlName="canchaId" required />
    </mat-form-field>

    <!-- Sucursal -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Sucursal</mat-label>
      <input matInput type="number" formControlName="sucursalId" required />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-button color="primary" (click)="saveReserva()" [disabled]="reservaForm.invalid">Guardar</button>
</mat-dialog-actions>
