.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.half-width {
  width: 48%;
  margin-bottom: 16px;
}

.time-fields {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

mat-dialog-content {
  overflow: hidden;
}
