.app-container {
  display: flex;
  height: 100vh;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  flex: 1;
  padding: 20px;
}

button[mat-icon-button] {
  margin: 10px;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host ::ng-deep ngx-material-timepicker-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1051;
  position: fixed;
}

:host ::ng-deep ngx-material-timepicker-container {
  background-color: #fff;
  color: #000;
  z-index: 1052;
  position: fixed;
}

:host ::ng-deep ngx-material-timepicker {
  z-index: 1053;
  position: fixed;
}
